<div class="title-divider">
  <h3><span>Доктрината за спасението</span></h3>
</div>

<div id="doctrine-of-salvation-accordion">
  <div class="card">
    <div class="card-header" id="great-controversy-heading" data-toggle="collapse" data-target="#great-controversy">
      <button class="btn btn-link" aria-expanded="true" aria-controls="great-controversy">
        <h5 class="mb-0">
          8. Великата борба
        </h5>
      </button>
    </div>

    <div id="great-controversy" class="collapse show" aria-labelledby="great-controversy-heading" data-parent="#doctrine-of-salvation-accordion">
      <div class="card-body">
        <p>
          Цялото човечество сега е въвлечено в една велика борба между Христос и Сатана относно характера на Бог, на Неговия
          закон и на властта Му над Вселената. Този конфликт започва в небето, когато едно сътворено същество, надарено със свобода
          на избора, обзето от желание за себевъздигане, става сатана, противник на Бог, и повежда в бунт част от ангелите.
          Той въвежда бунтовнически дух в този свят, въвличайки Адам и Ева в грях. Този грях довежда до изкривяване на
          Божия образ в човека, до объркване в сътворения свят и унищожаването му по време на световния потоп.
          Наблюдаван от цялата Вселена, този свят става арена за конфликта на Вселената, в края на който Бог
          на любовта ще докаже Своята правда. За да помогне на народа Си в тази борба, Христос изпраща Светия Дух и верните Си
          ангели да го ръководят, закрилят и пазят по пътя към спасението.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2012%3A4-9&version=BPB" target="_blank">Откр. 12:4-9</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D1%81%D0%B0%D1%8F%2014%3A12-14&version=BPB" target="_blank">Ис. 14:12-14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%B5%D0%B7%D0%B5%D0%BA%D0%B8%D0%B8%D0%BB%2028%3A12-18&version=BPB" target="_blank">Йез. 28:12-18</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%203&version=BPB" target="_blank">Бит. 3</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%201%3A19-32&version=BPB" target="_blank">Рим. 1:19-32</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%205%3A12-21&version=BPB" target="_blank">Рим. 5:12-21</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%208%3A19-22&version=BPB" target="_blank">Рим. 8:19-22</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%206%3A8&version=BPB" target="_blank">Бит. 6:8</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%203%3A6&version=BPB" target="_blank">2 Пет. 3:6</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%204%3A9&version=BPB" target="_blank">1 Кор. 4:9</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%201%3A14&version=BPB" target="_blank">Евр. 1:14</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 110
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="life-of-jesus-heading" data-toggle="collapse" data-target="#life-of-jesus">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="life-of-jesus">
        <h5 class="mb-0">
          9. Животът, смъртта и възкресението на Христос
        </h5>
      </button>
    </div>
    <div id="life-of-jesus" class="collapse" aria-labelledby="life-of-jesus-heading" data-parent="#doctrine-of-salvation-accordion">
      <div class="card-body">
        <p>
          Чрез Христовия живот на съвършено послушание към Божията воля, чрез Христовото страдание, смърт и възкресението
          Бог осигурява единственото средство на умилостивение за човешкия грях, така че хората, които чрез вяра приемат тази
          жертва, да имат вечен живот, а цялото творение да може по-добре да разбере безкрайната и свята любов на Създателя.
          Тази съвършена жертва доказва справедливостта на Божия закон и благодатта на Неговия характер, защото тя
          не само осъжда греха ни, но и осигурява нашето прощение. Смъртта на Христос е заместническа и изкупителна, примиряваща
          и преобразяваща. Възкресението на Христос провъзгласява Божия триумф над силите на злото, а на онези, които
          приемат умилостивението, осигурява крайната победа над греха и смъртта. Тя декларира
          божествеността на Исус Христос, пред Когото всяко коляно на небесата и на земята ще се преклони.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%203%3A16&version=BPB" target="_blank">Йоан 3:16</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D1%81%D0%B0%D1%8F%2053&version=BPB" target="_blank">Ис. 53</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%202%3A21-22&version=BPB" target="_blank">1 Пет. 2:21-22</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%2015%3A3-4%2C20-22&version=BPB" target="_blank">1 Кор. 15:3-4,20-22</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%205%3A14-15%2C19-21&version=BPB" target="_blank">2 Кор. 5:14-15,19-21</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%201%3A4&version=BPB" target="_blank">Рим. 1:4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%203%3A25&version=BPB" target="_blank">Рим. 3:25</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%204%3A25&version=BPB" target="_blank">Рим. 4:25</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%208%3A3-4&version=BPB" target="_blank">Рим. 8:3-4</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%99%D0%BE%D0%B0%D0%BD%202%3A2&version=BPB" target="_blank">1 Йоан 2:2</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%99%D0%BE%D0%B0%D0%BD%204%3A10&version=BPB" target="_blank">1 Йоан 4:10</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9A%D0%BE%D0%BB%D0%BE%D1%81%D1%8F%D0%BD%D0%B8%202%3A15&version=BPB" target="_blank">Кол. 2:15</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A4%D0%B8%D0%BB%D0%B8%D0%BF%D1%8F%D0%BD%D0%B8%202%3A6-11&version=BPB" target="_blank">Фил. 2:6-11</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 120
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="experience-of-salvation-heading" data-toggle="collapse" data-target="#experience-of-salvation">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="experience-of-salvation">
        <h5 class="mb-0">
          10. Опитността на спасението
        </h5>
      </button>
    </div>
    <div id="experience-of-salvation" class="collapse" aria-labelledby="experience-of-salvation-heading" data-parent="#doctrine-of-salvation-accordion">
      <div class="card-body">
        <p>
          В безкрайната си любов и милост Бог е направил така, че Христос, Който не е познавал грях, да стане грях за нас,
          за да можем чрез Него ние да станем Божия правда. Водени от Светия Дух, чувстваме нашата нужда, признаваме греховността си,
          покайваме се от греховете си и упражняваме вяра в Исус като Господ и Христос, Заместник и Пример. Тази вяра, която води
          към спасение, идва чрез божествената сила на Словото и е дар на Божията благодат. Чрез Христос ние сме оправдани,
          осиновени като Божии синове и дъщери и освободени от господството на греха. Чрез Духа ние биваме новородени и осветени.
          Духът обновява умовете ни, изписва Божия закон на любовта в сърцата ни и ни дава сила да живеем свят живот.
          Пребъдвайки в Него, ставаме участници на Божественото естество и получаваме увереността, че ще бъдем спасени сега и в съда.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%205%3A17-21&version=BPB" target="_blank">2 Кор. 5:17-21</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%93%D0%B0%D0%BB%D0%B0%D1%82%D1%8F%D0%BD%D0%B8%201%3A4&version=BPB" target="_blank">Гал. 1:4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%93%D0%B0%D0%BB%D0%B0%D1%82%D1%8F%D0%BD%D0%B8%204%3A4-7&version=BPB" target="_blank">Гал. 4:4-7</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A2%D0%B8%D1%82%203%3A3-7&version=BPB" target="_blank">Тит 3:3-7</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2016%3A8&version=BPB" target="_blank">Йоан 16:8</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%93%D0%B0%D0%BB%D0%B0%D1%82%D1%8F%D0%BD%D0%B8%203%3A13-14&version=BPB" target="_blank">Гал. 3:13-14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%2010%3A17&version=BPB" target="_blank">Рим. 10:17</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D1%83%D0%BA%D0%B0%2017%3A5&version=BPB" target="_blank">Лука 17:5</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%80%D0%BA%209%3A23-24&version=BPB" target="_blank">Марк 9:23-24</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D1%84%D0%B5%D1%81%D1%8F%D0%BD%D0%B8%202%3A5-10&version=BPB" target="_blank">Еф. 2:5-10</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%203%3A21-26&version=BPB" target="_blank">Рим. 3:21-26</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9A%D0%BE%D0%BB%D0%BE%D1%81%D1%8F%D0%BD%D0%B8%201%3A13-14&version=BPB" target="_blank">Кол. 1:13-14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%208%3A14-17&version=BPB" target="_blank">Рим. 8:14-17</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%93%D0%B0%D0%BB%D0%B0%D1%82%D1%8F%D0%BD%D0%B8%203%3A26&version=BPB" target="_blank">Гал. 3:26</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%203%3A3-8&version=BPB" target="_blank">Йоан 3:3-8</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%201%3A23&version=BPB" target="_blank">1 Пет. 1:23</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%2012%3A2&version=BPB" target="_blank">Рим. 12:2</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%208%3A7-12&version=BPB" target="_blank">Евр. 8:7-12</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%B5%D0%B7%D0%B5%D0%BA%D0%B8%D0%B8%D0%BB%2036%3A25-27&version=BPB" target="_blank">Йез. 36:25-27</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%201%3A3-4&version=BPB" target="_blank">2 Пет. 1:3-4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%208%3A1-4&version=BPB" target="_blank">Рим. 8:1-4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%205%3A6-10&version=BPB" target="_blank">Рим. 5:6-10</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 134
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="growing-in-christ-heading" data-toggle="collapse" data-target="#growing-in-christ">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="growing-in-christ">
        <h5 class="mb-0">
          11. Израстване в Христос
        </h5>
      </button>
    </div>
    <div id="growing-in-christ" class="collapse" aria-labelledby="growing-in-christ-heading" data-parent="#doctrine-of-salvation-accordion">
      <div class="card-body">
        <p>
          Чрез смъртта Си на кръста Исус триумфира над силите на злото. Този, Който подчинява демонските духове по време на
          земната Си служба, съкрушава тяхната сила и осигурява окончателната им гибел. Исусовата победа ни прави победители над
          злите сили, които все още се стремят да ни контролират, когато живеем с Него в мир и имамe радост и увереност в любовта Му.
          Сега Светият Дух обитава в нас и ни дава сила. Когато сме непрестанно посветени на Исус като наш Спасител и Господ, ние
          биваме освободени от бремето на миналите си дела. Преставаме да живеем в тъмнина, страх от злите сили, невежество
          и обезсърчение от безсмислието на предишния ни начин на живот. В тази нова свобода в Исус ние сме призовани да израснем
          по подобие на Неговия характер, да общуваме с Него чрез ежедневна молитва, да се храним от Словото Му, да размишляваме върху
          него и върху Божието провидение, да Му пеем хваления, да се събираме за поклонение и да участваме в мисията на църквата.
          Когато се раздаваме и служим с любов на хората около нас, и свидетелстваме за Божието спасение, Неговото постоянно присъствие
          в нас чрез Духа превръща всеки миг от живота ни и всяка задача в духовно преживяване.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%201%3A1-2&version=BPB" target="_blank">Пс. 1:1-2</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%2023%3A4&version=BPB" target="_blank">Пс. 23:4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%2077%3A11-12&version=BPB" target="_blank">Пс. 77:11-12</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9A%D0%BE%D0%BB%D0%BE%D1%81%D1%8F%D0%BD%D0%B8%202%3A6%2C14-15&version=BPB" target="_blank">Кол. 2:6,14-15</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D1%83%D0%BA%D0%B0%2010%3A17-20&version=BPB" target="_blank">Лука 10:17-20</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D1%84%D0%B5%D1%81%D1%8F%D0%BD%D0%B8%205%3A19-20&version=BPB" target="_blank">Еф. 5:19-20</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D1%84%D0%B5%D1%81%D1%8F%D0%BD%D0%B8%206%3A12-18&version=BPB" target="_blank">Еф. 6:12-18</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%A1%D0%BE%D0%BB%D1%83%D0%BD%D1%86%D0%B8%205%3A23&version=BPB" target="_blank">1 Сол. 5:23</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%202%3A9&version=BPB" target="_blank">2 Пет. 2:9</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%203%3A18&version=BPB" target="_blank">2 Пет. 3:18</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%203%3A17-18&version=BPB" target="_blank">2 Кор. 3:17-18</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A4%D0%B8%D0%BB%D0%B8%D0%BF%D1%8F%D0%BD%D0%B8%203%3A7-14&version=BPB" target="_blank">Фил. 3:7-14</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%A1%D0%BE%D0%BB%D1%83%D0%BD%D1%86%D0%B8%205%3A16-18&version=BPB" target="_blank">1 Сол. 5:16-18</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%2020%3A25-28&version=BPB" target="_blank">Мат. 20:25-28</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2020%3A21&version=BPB" target="_blank">Йоан 20:21</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%93%D0%B0%D0%BB%D0%B0%D1%82%D1%8F%D0%BD%D0%B8%205%3A22-25&version=BPB" target="_blank">Гал. 5:22-25</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%208%3A38-39&version=BPB" target="_blank">Рим. 8:38-39</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%99%D0%BE%D0%B0%D0%BD%204%3A4&version=BPB" target="_blank">1 Йоан 4:4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%2010%3A25&version=BPB" target="_blank">Евр. 10:25</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 150
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>
