<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="mt-5">
        <h2 class="text-center display-1">404</h2>
        <h3 class="text-center font-weight-light mt-2 mb-0 text-muted">
          <div>Възникна грешка.</div>
          Страницата не може да бъде намерена!
        </h3>
        <hr class="mb-5 w-50 mx-auto" />
        <div class="text-center text-white mb-5">
          <a href="/" class="btn btn-xlg btn-rounded btn-primary">Начало</a>
        </div>
      </div>

    </div>
  </div>
</div>