<div class="title-divider">
  <h3><span>Доктрината за християнския живот</span></h3>
</div>

<div id="doctrine-of-living-accordion">
  <div class="card">
    <div class="card-header" id="the-law-of-god-heading" data-toggle="collapse" data-target="#the-law-of-god">
      <button class="btn btn-link" aria-expanded="true" aria-controls="the-law-of-god">
        <h5 class="mb-0">
          19. Божият закон
        </h5>
      </button>
    </div>

    <div id="the-law-of-god" class="collapse show" aria-labelledby="the-law-of-god-heading" data-parent="#doctrine-of-living-accordion">
      <div class="card-body">
        <p>
          Великите принципи на Божия закон са въплътени в Десетте заповеди и са осъществени като пример в живота на
          Христос. Те изразяват Божията любов, воля и цели относно човешкото поведение и взаимоотношения и са задължителни
          за всички хора от всяка епоха. Тези принципи са основа на Божия завет с Неговия народ и стандарт в Божия съд.
          Чрез посредничеството на Светия Дух те посочват греха и пробуждат чувството за необходимост от един Спасител.
          Спасението е изцяло по благодат, а не чрез дела, но неговият плод е послушание на заповедите. Това послушание развива
          християнски характер и спомага за човешкото благополучие. То е доказателство за нашата любов към Господ и
          за грижата ни към ближния. Послушанието чрез вяра спомага силата на Христос да преобразява живота и поради това укрепва
          християнското свидетелство.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D0%B7%D1%85%D0%BE%D0%B4%2020%3A1-17&version=BPB" target="_blank">Изх. 20:1-17</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%2040%3A7-8&version=BPB" target="_blank">Пс. 40:7-8</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%2022%3A36-40&version=BPB" target="_blank">Мат. 22:36-40</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%B8%D0%B5%2028%3A1-14&version=BPB" target="_blank">Вт. 28:1-14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%205%3A17-20&version=BPB" target="_blank">Мат. 5:17-20</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%208%3A8-10&version=BPB" target="_blank">Евр. 8:8-10</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2015%3A7-10&version=BPB" target="_blank">Йоан 15:7-10</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D1%84%D0%B5%D1%81%D1%8F%D0%BD%D0%B8%202%3A8-10&version=BPB" target="_blank">Еф. 2:8-10</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%99%D0%BE%D0%B0%D0%BD%205%3A3&version=BPB" target="_blank">1 Йоан 5:3</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%208%3A3-4&version=BPB" target="_blank">Рим. 8:3-4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%2019%3A7-14&version=BPB" target="_blank">Пс. 19:7-14</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 270
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="the-sabbath-heading" data-toggle="collapse" data-target="#the-sabbath">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="the-sabbath">
        <h5 class="mb-0">
          20. Съботата
        </h5>
      </button>
    </div>
    <div id="the-sabbath" class="collapse" aria-labelledby="the-sabbath-heading" data-parent="#doctrine-of-living-accordion">
      <div class="card-body">
        <p>
          След шестте дни на Сътворението благодетелният Творец си почива на седмия ден и учредява съботата за всички
          хора като паметник на Сътворението. Четвъртата заповед от Божия непроменим закон изисква съблюдаване на този
          седми ден – събота – като ден за почивка, поклонение и служба в съгласие с учението и практиката на Исус, Господаря на
          съботата. Съботата е ден за радостно общение на вярващите с Бог и един с друг. Тя е символ на нашето изкупление от
          Христос, белег за нашето освещение, знак за нашата вярност, предвкусване на вечното бъдеще в Божието царство.
          Съботата е Божи постоянен знак за вечния завет между Него и народа Му. Радостното съблюдаване на това
          свято време от вечер до вечер, от залез до залез слънце, е честване на Божието творческо и изкупително дело.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%202%3A1-3&version=BPB" target="_blank">Бит. 2:1-3</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D0%B7%D1%85%D0%BE%D0%B4%2020%3A8-11&version=BPB" target="_blank">Изх. 20:8-11</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D1%83%D0%BA%D0%B0%204%3A16&version=BPB" target="_blank">Лука 4:16</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D1%81%D0%B0%D1%8F%2056%3A5-6&version=BPB" target="_blank">Ис. 56:5-6</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D1%81%D0%B0%D1%8F%2058%3A13-14&version=BPB" target="_blank">58:13-14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%2012%3A1-12&version=BPB" target="_blank">Мат. 12:1-12</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D0%B7%D1%85%D0%BE%D0%B4%2031%3A13-17&version=BPB" target="_blank">Изх. 31:13-17</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%B5%D0%B7%D0%B5%D0%BA%D0%B8%D0%B8%D0%BB%2020%3A12%2C%2020&version=BPB" target="_blank">Йез. 20:12, 20</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%B8%D0%B5%205%3A12-15&version=BPB" target="_blank">Вт. 5:12-15</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%204%3A1-11&version=BPB" target="_blank">Евр. 4:1-11</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D0%B5%D0%B2%D0%B8%D1%82%2023%3A32&version=BPB" target="_blank">Лев. 23:32</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%80%D0%BA%201%3A32&version=BPB" target="_blank">Марк 1:32</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 288
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="stewardship-heading" data-toggle="collapse" data-target="#stewardship">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="stewardship">
        <h5 class="mb-0">
          21. Настойничеството
        </h5>
      </button>
    </div>
    <div id="stewardship" class="collapse" aria-labelledby="stewardship-heading" data-parent="#doctrine-of-living-accordion">
      <div class="card-body">
        <p>
          Ние сме Божии настойници, на които са поверени време и възможности, способности и притежания, както и благословенията
          на земята и нейните богатства. Ние сме отговорни пред Бога за тяхното подходящо използване. Признаваме
          Божията собственост, като служим вярно на Него и на нашите ближни, като връщаме десятъците и даваме приношения
          за провъзгласяване на Неговото евангелие и за поддържане и развитие на Неговата църква. Настойничеството е привилегия,
          дадена ни от Бог, за да ни възпита в любов и победа над егоизма и алчността. Настойникът се радва на благословенията,
          които другите получават в резултат на верността му.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%201%3A26-28&version=BPB" target="_blank">Бит. 1:26-28</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%202%3A15&version=BPB" target="_blank">2:15</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9B%D0%B5%D1%82%D0%BE%D0%BF%D0%B8%D1%81%D0%B8%2029%3A14&version=BPB" target="_blank">1 Лет. 29:14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%90%D0%B3%D0%B5%D0%B9%201%3A3-11&version=BPB" target="_blank">Аг. 1:3-11</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D0%BB%D0%B0%D1%85%D0%B8%D1%8F%203%3A8-12&version=BPB" target="_blank">Мал. 3:8-12</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%209%3A9-14&version=BPB" target="_blank">1 Кор. 9:9-14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%2023%3A23&version=BPB" target="_blank">Мат. 23:23</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%208%3A1-15&version=BPB" target="_blank">2 Кор. 8:1-15</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%2015%3A26-27&version=BPB" target="_blank">Рим. 15:26-27</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 310
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="christian-behavior-heading" data-toggle="collapse" data-target="#christian-behavior">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="christian-behavior">
        <h5 class="mb-0">
          22. Християнско поведение
        </h5>
      </button>
    </div>
    <div id="christian-behavior" class="collapse" aria-labelledby="christian-behavior-heading" data-parent="#doctrine-of-living-accordion">
      <div class="card-body">
        <p>
          Ние сме призовани да бъдем благочестиви хора, които мислят, чувстват и са в хармония с принципите на небето.
          За да може Духът да пресътвори в нас характера на нашия Господ, ние ще вършим тези неща, които ще дадат на
          живота ни христоподобна чистота, здраве и радост. Това означава, че нашите забавления би трябвало да бъдат
          съобразени с най-възвишените критерии за християнски вкус и красота. Докато признаваме различията в културата,
          облеклото ни трябва да бъде прилично, обикновено, скромно и чисто, подобаващо на хора, чиято истинска красота
          не се състои във външно украшение, а в нетленната красота на един благороден и смирен дух. Това означава също,
          че след като нашето тяло е храм на Светия Дух, ние трябва да се грижим за него разумно. Заедно с достатъчно упражнения и
          почивка трябва да възприемем възможно най-здравословната диета и да се въздържаме от нечистите и вредни храни,
          за които Писанието говори. Тъй като алкохолните напитки, тютюнът и своеволната употреба на лекарства и наркотици
          са опасни за нашето здраве, следва да се въздържаме и от тях. Ние трябва да приемаме нещата, които поставят нашите мисли
          и тела под ръководството и дисциплината на Христос, Който желае да бъдем здрави, радостни, разумни и добри.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%2012%3A1-2&version=BPB" target="_blank">Рим. 12:1-2</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%99%D0%BE%D0%B0%D0%BD%202%3A6&version=BPB" target="_blank">1 Йоан 2:6</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D1%84%D0%B5%D1%81%D1%8F%D0%BD%D0%B8%205%3A1-21&version=BPB" target="_blank">Еф. 5:1-21</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A4%D0%B8%D0%BB%D0%B8%D0%BF%D1%8F%D0%BD%D0%B8%204%3A8&version=BPB" target="_blank">Фил. 4:8</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%2010%3A5&version=BPB" target="_blank">2 Кор. 10:5</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%206%3A14-7%3A1&version=BPB" target="_blank">6:14-7:1</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%203%3A1-4&version=BPB" target="_blank">1 Пет. 3:1-4</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%206%3A19-20&version=BPB" target="_blank">1 Кор. 6:19-20</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%2010%3A31&version=BPB" target="_blank">10:31</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D0%B5%D0%B2%D0%B8%D1%82%2011%3A1-47&version=BPB" target="_blank">Лев. 11:1-47</a>;
            <a href="https://www.biblegateway.com/passage/?search=3%20%D0%99%D0%BE%D0%B0%D0%BD%202&version=BPB" target="_blank">3 Йоан 2</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 322
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="marriage-and-family-heading" data-toggle="collapse" data-target="#marriage-and-family">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="marriage-and-family">
        <h5 class="mb-0">
          23. Бракът и семейството
        </h5>
      </button>
    </div>
    <div id="marriage-and-family" class="collapse" aria-labelledby="marriage-and-family-heading" data-parent="#doctrine-of-living-accordion">
      <div class="card-body">
        <p>
          Бракът е учреден от Бог в Едем и утвърден от Исус като доживотен съюз на интимна връзка между мъжа и жената.
          За християнина бракът означава предаване както на Бог, така и на съпруга, и той би трябвало да бъде сключван само между
          партньори, които споделят една и съща вяра. Взаимната любов, почит, уважение и отговорност са тъканта на тази връзка, която
          трябва да отразява любовта, светостта, близостта и непреходността на връзката между Христос и Неговата църква.
          Относно развода Исус учи, че този, който се развежда, освен поради прелюбодейство, и сключва брак с друго лице,
          извършва прелюбодейство. Въпреки че някои семейни връзки не оправдават очакванията за този идеал, брачните партньори,
          които се посвещават напълно един на друг в Христос, могат да достигнат единство в любовта чрез ръководството на
          Духа и подкрепата на църквата. Бог благославя семейството и очаква неговите членове да си помагат взаимно по пътя
          към пълната зрелост. Родителите трябва да възпитават децата си да обичат Господ и да Му се покоряват.
          Чрез своя пример и думи те следва да ги учат, че Христос е обичащ и дисциплиниращ. Винаги нежен и грижовен,
          Той иска да станем членове на Неговото тяло, Божието семейство. Задълбочаващата се семейна близост е един
          от белезите на последната евангелска вест.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%202%3A18-25&version=BPB" target="_blank">Бит. 2:18-25</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%2019%3A3-9&version=BPB" target="_blank">Мат. 19:3-9</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%202%3A1-11&version=BPB" target="_blank">Йоан 2:1-11</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%206%3A14&version=BPB" target="_blank">2 Кор. 6:14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D1%84%D0%B5%D1%81%D1%8F%D0%BD%D0%B8%205%3A21-33&version=BPB" target="_blank">Еф. 5:21-33</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%205%3A31-32&version=BPB" target="_blank">Мат. 5:31-32</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%80%D0%BA%2010%3A11-12&version=BPB" target="_blank">Марк 10:11-12</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D1%83%D0%BA%D0%B0%2016%3A18&version=BPB" target="_blank">Лука 16:18</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%207%3A10-11&version=BPB" target="_blank">1 Кор. 7:10-11</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D0%B7%D1%85%D0%BE%D0%B4%2020%3A12&version=BPB" target="_blank">Изх. 20:12</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D1%84%D0%B5%D1%81%D1%8F%D0%BD%D0%B8%206%3A1-4&version=BPB" target="_blank">Еф. 6:1-4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%B8%D0%B5%206%3A5-9&version=BPB" target="_blank">Вт. 6:5-9</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%80%D0%B8%D1%82%D1%87%D0%B8%2022%3A6&version=BPB" target="_blank">Пр. 22:6</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D0%BB%D0%B0%D1%85%D0%B8%D1%8F%204%3A5-6&version=BPB" target="_blank">Мал. 4:5-6</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 340
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>
