<div class="title-divider">
  <h3><span>Доктрината за църквата</span></h3>
</div>

<div id="doctrine-of-church-accordion">
  <div class="card">
    <div class="card-header" id="the-church-heading" data-toggle="collapse" data-target="#the-church">
      <button class="btn btn-link" aria-expanded="true" aria-controls="the-church">
        <h5 class="mb-0">
          12. Църквата
        </h5>
      </button>
    </div>

    <div id="the-church" class="collapse show" aria-labelledby="the-church-heading" data-parent="#doctrine-of-church-accordion">
      <div class="card-body">
        <p>
          Църквата е общество от вярващи, които изповядват Исус Христос като Господ и Спасител. Бидейки приемници на Божия
          народ от старозаветните времена, ние сме призовани да излезем от света; събираме се за богослужение, братско общуване,
          наставление в Словото, за празнуване на Господната вечеря; призовани сме за служба на цялото човечество и за разгласяване на
          евангелието по целия свят. Авторитетът на църквата произтича от Христос, Който е въплътеното Слово, и от Писанията, които
          са писаното Слово. Църквата е Божието семейство. Като Негови осиновени деца членовете ѝ живеят въз основа на Новия завет.
          Църквата е тялото Христово, общество на вярващи, чиято глава е самият Христос. Църквата е невястата, за която Христос
          е умрял, за да може да я освети и очисти. При триумфалното Си завръщане Той ще я представи на Себе Си като славна църква,
          вярна през всички времена, откупена с Неговата кръв, без петно или бръчка, свята и непорочна.
        </p>
        <p>
          (Бит. 12:3; Д.А. 7:38; Еф. 4:11-15; 3:8-11; Мат. 28:19,20; 16:13-20; 18:18;
           Еф. 2:19-22; 1:22, 23; 5:23-27; Кол. 1:17, 18.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 166
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="remnant-mission-heading" data-toggle="collapse" data-target="#remnant-mission">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="remnant-mission">
        <h5 class="mb-0">
          13. Остатъкът и неговата мисия
        </h5>
      </button>
    </div>
    <div id="remnant-mission" class="collapse" aria-labelledby="remnant-mission-heading" data-parent="#doctrine-of-church-accordion">
      <div class="card-body">
        <p>
          Всемирната църква се състои от всички, които истински вярват в Христос, но в последните дни – време на широко разпространено
          отстъпление, един остатък е призван да пази Божиите заповеди и вярата в Исус. Този остатък обявява, че идва
          часът на съда, прогласява спасение чрез Христос и разгласява вестта за наближаване на Неговото второ пришествие.
          Това прогласяване е символизирано чрез трите ангели в „Откровение” гл. 14; то съвпада с делото на съда в небето
          и води до покаяние и реформа на земята. Всеки вярващ е призван да вземе лично участие в това свидетелство по целия свят.
        </p>
        <p>
          (Откр. 12:17; 14:6-12; 18:1-4; 2 Кор. 5:10; Юда 3, 14; 1 Пет. 1:16-19; 2 Пет. 3:10-14; Откр. 21:1-14.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 184
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="unity-in-christ-heading" data-toggle="collapse" data-target="#unity-in-christ">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="unity-in-christ">
        <h5 class="mb-0">
          14. Единство в Христовото тяло
        </h5>
      </button>
    </div>
    <div id="unity-in-christ" class="collapse" aria-labelledby="unity-in-christ-heading" data-parent="#doctrine-of-church-accordion">
      <div class="card-body">
        <p>
          Църквата е едно тяло с много членове, призвани от всеки народ, род, език и люде. В Христос ние сме ново създание.
          Разлики по отношение на раса, култура, образование и националност, поради високо или ниско обществено положение,
          определяне като богати и бедни, мъже или жени не трябва да ни разделят. Всички ние сме равни в Христос,
          Който чрез един Дух ни е свързал да сме едно с Него и един с друг, да служим и да ни служат без пристрастност,
          без разделение или въздържане от общение. Чрез откровението на Исус Христос в Писанията ние споделяме същата
          вяра и надежда и протягаме ръка с едно и също свидетелство към всички. Това единство има за източник единството
          на триединния Бог, Който ни е осиновил като Свои деца.
        </p>
        <p>
          (Рим. 12:4, 5; 1 Кор. 12:12-14; Мат. 28:19, 20; Пс. 133:1; 2 Кор. 5:16, 17;
           Д.А. 17:26, 27; Гал. 3:27, 29; Кол. 3:10-15; Еф. 4:14-16; 4:1-6; Йоан 17:20-23.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 204
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="baptism-heading" data-toggle="collapse" data-target="#baptism">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="baptism">
        <h5 class="mb-0">
          15. Кръщението
        </h5>
      </button>
    </div>
    <div id="baptism" class="collapse" aria-labelledby="baptism-heading" data-parent="#doctrine-of-church-accordion">
      <div class="card-body">
        <p>
          Чрез кръщението ние изповядваме вярата си в смъртта и възкресението на Исус Христос, свидетелстваме, че сме умрели
          за греха и сега целта ни е да живеем по нов начин. Така признаваме Христос като Господ и Спасител, ставаме Негови
          деца и биваме приети за членове на църквата Му. Кръщението символизира нашето съединяване с Христос, прощаването на греховете
          ни и приемането ни от Светия Дух. То се извършва чрез потапяне във вода и зависи от потвърждаване на вярата ни в Исус и от
          доказателство за покаяние от греха ни. Извършва се след обучение в Свещеното писание и приемане на неговите учения.
        </p>
        <p>
          (Рим. 6:1-6; Кол. 2:12, 13; Д.А. 16:30-33; 22:16; 2:38; Мат. 28:19, 20.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 216
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="lords-supper-heading" data-toggle="collapse" data-target="#lords-supper">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="lords-supper">
        <h5 class="mb-0">
          16. Господна вечеря
        </h5>
      </button>
    </div>
    <div id="lords-supper" class="collapse" aria-labelledby="lords-supper-heading" data-parent="#doctrine-of-church-accordion">
      <div class="card-body">
        <p>
          Господната вечеря е символично участие в тялото и в кръвта на Исус чрез вяра в Него, нашия Господ и Спасител.
          Христос присъства в това причастие, за да се срещне със Своя народ и да го укрепи. Като участваме в нея,
          ние с радост прогласяваме смъртта на Господ, докато Той дойде отново. Приготвянето за причастието включва
          себеизпитване, покаяние и изповед. Учителят постановява службата на измиването на краката, за да означи новото очистване,
          да изрази едно желание за взаимно служене със смирение, подобно на Христовото, да свърже сърцата ни с любов.
          Причастието е достъпно за всички вярващи християни.
        </p>
        <p>
          (1 Кор. 10:16, 17; 11:23-30; Мат. 26:17-30; Откр. 3:20; Йоан 6:48-63; 13:1-17.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 230
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="spiritual-gifts-heading" data-toggle="collapse" data-target="#spiritual-gifts">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="spiritual-gifts">
        <h5 class="mb-0">
          17. Духовни дарби и служби
        </h5>
      </button>
    </div>
    <div id="spiritual-gifts" class="collapse" aria-labelledby="spiritual-gifts-heading" data-parent="#doctrine-of-church-accordion">
      <div class="card-body">
        <p>
          Бог дава на всички църковни членове от всички векове духовни дарби, които всеки трябва да използва в служба за
          благото на църквата и на човечеството. Дадени посредством Светия Дух, Който раздава на всеки, както намери за добре,
          дарбите предоставят всички способности и служения, необходими на църквата да изпълни възложените ѝ от Бог функции.
          Според Свещеното писание тези дарби включват делата на вяра, изцеление, пророчество, евангелизиране, поучение, управление,
          примирение, състрадание и себепожертвувателна служба и благотворителна дейност за подпомагане и насърчение на хората.
          Някои църковни членове са призовани от Бог и надарени от Духа да работят за църквата като пастори, евангелизатори,
          апостоли и учители, така че да служат на останалите, да издигат църквата в по-висока духовна зрелост и да укрепват
          единството във вярата и познанието за Бога. Когато църковните членове използват тези духовни дарби като верни настойници
          на многообразната Божия благодат, църквата бива запазена от разрушителното влияние на фалшиви учения, израства с Божия
          помощ и се развива във вяра и любов.
        </p>
        <p>
          (Рим. 12:4-8; 1 Кор. 12:9-11, 27, 28; Еф. 4:8, 11-16; Д.А. 6:1-7; 1 Тим. 3:1-13; 1 Пет. 4:10, 11.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 242
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="gift-of-prophecy-heading" data-toggle="collapse" data-target="#gift-of-prophecy">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="gift-of-prophecy">
        <h5 class="mb-0">
          18. Дарът на пророчеството
        </h5>
      </button>
    </div>
    <div id="gift-of-prophecy" class="collapse" aria-labelledby="gift-of-prophecy-heading" data-parent="#doctrine-of-church-accordion">
      <div class="card-body">
        <p>
          Един от даровете на Светия Дух е пророчеството. Този дар е отличителен белег за църквата на остатъка и е проявен
          в служенето на Елън Г. Уайт. Като Божия вестителка, писанията ѝ са постоянен и авторитетен източник на истина, осигуряващ
          на църквата утеха, ръководство, наставление и поправление. Те дават да се разбере ясно, че Библията е стандартът, според
          който всички учения и опитности трябва да бъдат изпитвани.
        </p>
        <p>
          (Йоил 2:28, 29; Д.А. 2:14-21; Евр. 1:1-3; Откр. 12:17; 19:10.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 252
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>
