<div class="title-divider">
  <h3><span>Доктрината за Бог</span></h3>
</div>

<div id="doctrine-of-god-accordion">
  <div class="card">
    <div class="card-header" id="holy-scriptures-heading" data-toggle="collapse" data-target="#holy-scriptures">
      <button class="btn btn-link" aria-expanded="true" aria-controls="holy-scriptures">
        <h5 class="mb-0">
          1. Божието слово
        </h5>
      </button>
    </div>

    <div id="holy-scriptures" class="collapse show" aria-labelledby="holy-scriptures-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Свещеното писание – книгите на Стария и Новия завет – са писаното Божие слово, дадено чрез небесно вдъхновение
          на свети Божии мъже, които са говорили и писали, движени от Светия Дух. В това Слово Бог дава на човека познанието,
          необходимо за спасение. Свещеното писание е непогрешимо откровение за Божията воля. То е критерий за характера,
          изпитание за духовното преживяване, авторитетен източник на учения и достоверен документ за Божиите действия в историята.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=2+%D0%9F%D0%B5%D1%82.+1%3A20-21&version=BPB" target="_blank">2 Пет. 1:20, 21</a>;
            <a href="https://www.biblegateway.com/passage/?search=2+%D0%A2%D0%B8%D0%BC.+3%3A16-17&version=BPB" target="_blank">2 Тим. 3:16, 17</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8+119%3A105&version=BPB" target="_blank">Пс. 119:105</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%80%D0%B8%D1%82%D1%87%D0%B8+30%3A5-6&version=BPB" target="_blank">Пр. 30:5, 6</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D1%81%D0%B0%D1%8F+8%3A20&version=BPB" target="_blank">Ис. 8:20</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD+17%3A17&version=BPB" target="_blank">Йоан 17:17</a>;
            <a href="https://www.biblegateway.com/passage/?search=1+%D0%A1%D0%BE%D0%BB%D1%83%D0%BD%D1%86%D0%B8+2%3A13&version=BPB" target="_blank">1 Сол. 2:13</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8+4%3A12&version=BPB" target="_blank">Евр. 4:12</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 8
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="the-trinity-heading" data-toggle="collapse" data-target="#the-trinity">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="the-trinity">
        <h5 class="mb-0">
          2. Божеството
        </h5>
      </button>
    </div>
    <div id="the-trinity" class="collapse" aria-labelledby="the-trinity-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Съществува един Бог: Отец, Син и Свети Дух – единство от три съвечни личности. Бог е безсмъртен, всемогъщ, всезнаещ,
          стоящ над всичко и вездесъщ. Той е безкраен и извън човешкото разбиране, и въпреки това познат чрез Неговото себеразкриване.
          Той е завинаги достоен за поклонение, преклонение и служене от страна на цялото създание.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%92%D1%82%D0%BE%D1%80%D0%BE%D0%B7%D0%B0%D0%BA%D0%BE%D0%BD%D0%B8%D0%B5%206%3A4&version=BPB" target="_blank">Вт. 6:4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%2028%3A19&version=BPB" target="_blank">Мат. 28:19</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%2013%3A14&version=BPB" target="_blank">2 Кор. 13:14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D1%84%D0%B5%D1%81%D1%8F%D0%BD%D0%B8%204%3A4-6&version=BPB" target="_blank">Еф. 4:4-6</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%201%3A2&version=BPB" target="_blank">1 Пет. 1:2</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%A2%D0%B8%D0%BC%D0%BE%D1%82%D0%B5%D0%B9%201%3A17&version=BPB" target="_blank">1 Тим. 1:17</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5+14%3A7&version=BPB" target="_blank">Откр. 14:7</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 20
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="the-father-heading" data-toggle="collapse" data-target="#the-father">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="the-father">
        <h5 class="mb-0">
          3. Бог-Отец
        </h5>
      </button>
    </div>
    <div id="the-father" class="collapse" aria-labelledby="the-father-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Бог, Вечният Отец, е Създателят, Източникът, Вседържителят и Владетелят на цялото създание.
          Той е справедлив и свят, милостив и пълен с благодат, търпелив и изобилстващ
          с постоянна любов и вярност. Качествата и силата, изявени в Сина и в Светия Дух, са също откровения на Отец.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%201%3A1&version=BPB" target="_blank">Бит. 1:1</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5+4%3A11&version=BPB" target="_blank">Откр. 4:11</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%2015%3A28&version=BPB" target="_blank">1 Кор. 15:28</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%203%3A16&version=BPB" target="_blank">Йоан 3:16</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%99%D0%BE%D0%B0%D0%BD%204%3A8&version=BPB" target="_blank">1 Йоан 4:8</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%A2%D0%B8%D0%BC%D0%BE%D1%82%D0%B5%D0%B9%201%3A17&version=BPB" target="_blank">1 Тим. 1:17</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D0%B7%D1%85%D0%BE%D0%B4+34%3A6-7&version=BPB" target="_blank">Изх. 34:6, 7</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2014%3A9&version=BPB" target="_blank">Йоан 14:9</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 32
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="the-son-heading" data-toggle="collapse" data-target="#the-son">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="the-son">
        <h5 class="mb-0">
          4. Бог-Син
        </h5>
      </button>
    </div>
    <div id="the-son" class="collapse" aria-labelledby="the-son-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Бог, Вечният Син, се въплъщава в Исус Христос. Чрез Него са сътворени всички неща. Той изявява Божия характер;
          чрез Него се осъществява спасението на човечеството и се съди светът. Завинаги истински Бог, Той става и истински
          човек, Исус Христос. Заченат от Светия Дух и роден от девицата Мария, Той живее и изпитва изкушения като човешко
          същество, но дава идеален пример за Божията правда и любов. Изявява Божията сила чрез чудесата, които извършва, и
          е утвърден като Божия избран Месия. Страда и умира доброволно на кръста за нашите грехове вместо нас, възкресен е от
          мъртвите и е издигнат за Свещеник в небесното светилище, за да служи за нас. Той ще дойде отново
          в слава за окончателно избавление на Своя народ и за възобновяване на всичко.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%201%3A1-3%2C%2014&version=BPB" target="_blank">Йоан 1:1-3, 14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9A%D0%BE%D0%BB%D0%BE%D1%81%D1%8F%D0%BD%D0%B8%201%3A15-19&version=BPB" target="_blank">Кол. 1:15-19</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2010%3A30&version=BPB" target="_blank">Йоан 10:30</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2014%3A9&version=BPB" target="_blank">Йоан 14:9</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%206%3A23&version=BPB" target="_blank">Рим. 6:23</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%205%3A17-19&version=BPB" target="_blank">2 Кор. 5:17-19</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%205%3A22&version=BPB" target="_blank">Йоан 5:22</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D1%83%D0%BA%D0%B0%201%3A35&version=BPB" target="_blank">Лука 1:35</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A4%D0%B8%D0%BB%D0%B8%D0%BF%D1%8F%D0%BD%D0%B8%202%3A5-11&version=BPB" target="_blank">Фил. 2:5-11</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%202%3A9-18&version=BPB" target="_blank">Евр. 2:9-18</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%2015%3A3-4&version=BPB" target="_blank">1 Кор. 15:3-4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%208%3A1-2&version=BPB" target="_blank">Евр. 8:1-2</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2014%3A1-3&version=BPB" target="_blank">Йоан 14:1-3</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 40
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="the-holy-spirit-heading" data-toggle="collapse" data-target="#the-holy-spirit">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="the-holy-spirit">
        <h5 class="mb-0">
          5. Бог-Свети Дух
        </h5>
      </button>
    </div>
    <div id="the-holy-spirit" class="collapse" aria-labelledby="the-holy-spirit-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Бог, Вечният Дух, действа с Отец и Сина при сътворение-то, въплъщението и изкуплението. Той вдъхновява писателите
          на Писанията, Той изпълва живота на Христос със сила. Изпитва и осъжда човешките същества, а онези, които откликнат,
          биват преобразени по подобие на Бог. Изпратен от Отец и Сина, за да бъде винаги с Неговите деца,
          Той дава духовни дарби на църквата, дава ѝ сили да носи Христовото свидетелство и в хармония с Писанията я води към истината.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%201%3A1-2&version=BPB" target="_blank">Бит. 1:1-2</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D1%83%D0%BA%D0%B0%201%3A35&version=BPB" target="_blank">Лука 1:35</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D1%83%D0%BA%D0%B0%204%3A18&version=BPB" target="_blank">Лука 4:18</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%94%D0%B5%D1%8F%D0%BD%D0%B8%D1%8F%2010%3A38&version=BPB" target="_blank">Д.А. 10:38</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%201%3A21&version=BPB" target="_blank">2 Пет. 1:21</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%203%3A18&version=BPB" target="_blank">2 Кор. 3:18</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D1%84%D0%B5%D1%81%D1%8F%D0%BD%D0%B8%204%3A11-12&version=BPB" target="_blank">Еф. 4:11-12</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%94%D0%B5%D1%8F%D0%BD%D0%B8%D1%8F%201%3A8&version=BPB" target="_blank">Д.А. 1:8</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2014%3A16-18%2C26&version=BPB" target="_blank">Йоан 14:16-18, 26</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2015%3A26-27&version=BPB" target="_blank">Йоан 15:26-27</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2016%3A7-13&version=BPB" target="_blank">Йоан 16:7-13</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 66
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
