<div class="title-divider">
  <h3><span>Доктрината за Бог</span></h3>
</div>

<div id="doctrine-of-god-accordion">
  <div class="card">
    <div class="card-header" id="holy-scriptures-heading" data-toggle="collapse" data-target="#holy-scriptures">
      <button class="btn btn-link" aria-expanded="true" aria-controls="holy-scriptures">
        <h5 class="mb-0">
          1. Божието слово
        </h5>
      </button>
    </div>

    <div id="holy-scriptures" class="collapse show" aria-labelledby="holy-scriptures-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Свещеното писание – книгите на Стария и Новия завет – са писаното Божие слово, дадено чрез небесно вдъхновение
          на свети Божии мъже, които са говорили и писали, движени от Светия Дух. В това Слово Бог дава на човека познанието,
          необходимо за спасение. Свещеното писание е непогрешимо откровение за Божията воля. То е критерий за характера,
          изпитание за духовното преживяване, авторитетен източник на учения и достоверен документ за Божиите действия в историята.
        </p>
        <p>(2 Пет. 1:20, 21; 2 Тим. 3:16, 17; Пс. 119:105; Пр. 30:5, 6; Ис. 8:20; Йоан 17:17; 1 Сол. 2:13; Евр. 4:12.)</p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 8
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="the-trinity-heading" data-toggle="collapse" data-target="#the-trinity">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="the-trinity">
        <h5 class="mb-0">
          2. Божеството
        </h5>
      </button>
    </div>
    <div id="the-trinity" class="collapse" aria-labelledby="the-trinity-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Съществува един Бог: Отец, Син и Свети Дух – единство от три съвечни личности. Бог е безсмъртен, всемогъщ, всезнаещ,
          стоящ над всичко и вездесъщ. Той е безкраен и извън човешкото разбиране, и въпреки това познат чрез Неговото себеразкриване.
          Той е завинаги достоен за поклонение, преклонение и служене от страна на цялото създание.
        </p>
        <p>(Вт. 6:4; Мат. 28:19; 2 Кор. 13:14; Еф. 4:4-6; 1 Пет. 1:2; 1 Тим. 1:17; Откр. 14:7.)</p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 20
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="the-father-heading" data-toggle="collapse" data-target="#the-father">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="the-father">
        <h5 class="mb-0">
          3. Бог-Отец
        </h5>
      </button>
    </div>
    <div id="the-father" class="collapse" aria-labelledby="the-father-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Бог, Вечният Отец, е Създателят, Източникът, Вседържителят и Владетелят на цялото създание.
          Той е справедлив и свят, милостив и пълен с благодат, търпелив и изобилстващ
          с постоянна любов и вярност. Качествата и силата, изявени в Сина и в Светия Дух, са също откровения на Отец.
        </p>
        <p>(Бит. 1:1; Откр. 4:11; 1 Кор. 15:28; Йоан 3:16; 1 Йоан 4:8; 1 Тим. 1:17; Изх. 34:6. 7; Йоан 14:9.)</p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 32
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="the-son-heading" data-toggle="collapse" data-target="#the-son">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="the-son">
        <h5 class="mb-0">
          4. Бог-Син
        </h5>
      </button>
    </div>
    <div id="the-son" class="collapse" aria-labelledby="the-son-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Бог, Вечният Син, се въплъщава в Исус Христос. Чрез Него са сътворени всички неща. Той изявява Божия характер;
          чрез Него се осъществява спасението на човечеството и се съди светът. Завинаги истински Бог, Той става и истински
          човек, Исус Христос. Заченат от Светия Дух и роден от девицата Мария, Той живее и изпитва изкушения като човешко
          същество, но дава идеален пример за Божията правда и любов. Изявява Божията сила чрез чудесата, които извършва, и
          е утвърден като Божия избран Месия. Страда и умира доброволно на кръста за нашите грехове вместо нас, възкресен е от
          мъртвите и е издигнат за Свещеник в небесното светилище, за да служи за нас. Той ще дойде отново
          в слава за окончателно избавление на Своя народ и за възобновяване на всичко.
        </p>
        <p>
          (Йоан 1:1-3, 14; Кол. 1:15-19; Йоан 10:30; 14:9; Рим. 6:23; 2 Кор. 5:17-19; Йоан 5:22;
           Лука 1:35; Фил. 2:5-11; Евр. 2:9-18; 1 Кор. 15:3, 4; Евр. 8:1, 2; Йоан 14:1-3.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 40
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="the-holy-spirit-heading" data-toggle="collapse" data-target="#the-holy-spirit">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="the-holy-spirit">
        <h5 class="mb-0">
          5. Бог-Свети Дух
        </h5>
      </button>
    </div>
    <div id="the-holy-spirit" class="collapse" aria-labelledby="the-holy-spirit-heading" data-parent="#doctrine-of-god-accordion">
      <div class="card-body">
        <p>
          Бог, Вечният Дух, действа с Отец и Сина при сътворение-то, въплъщението и изкуплението. Той вдъхновява писателите
          на Писанията, Той изпълва живота на Христос със сила. Изпитва и осъжда човешките същества, а онези, които откликнат,
          биват преобразени по подобие на Бог. Изпратен от Отец и Сина, за да бъде винаги с Неговите деца,
          Той дава духовни дарби на църквата, дава ѝ сили да носи Христовото свидетелство и в хармония с Писанията я води към истината.
        </p>
        <p>
          (Бит. 1:1, 2; Лука 1:35; 4:18; Д.А. 10:38; 2 Пет. 1:21; 2 Кор. 3:18;
          Еф. 4:11, 12; Д.А. 1:8; Йоан 14:16-18, 26; 15:26, 27; 16:7-13.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 66
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
