@use '../../../../styles/tokens/colors' as c;

:host {
  display: contents;
}

.modal-content {
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 10px 40px 0 rgba(c.$ui-shadow-color, 0.25);
  overflow: hidden;
}

.modal-header {
  border-bottom: none;
  padding-bottom: 0.5rem;
}

.modal-title {
  font-weight: 700;
  font-size: 1.75rem;
}

.modal-body {
  max-height: 70vh;
  overflow-y: auto;
  font-size: 1.2em;
  line-height: 1.5em;
}

.modal-backdrop {
  background-color: c.$ui-backdrop;

  &.show {
    opacity: 0.6;
  }
}
