<div class="modal fade"
     [class.show]="open"
     [style.display]="open ? 'block' : 'none'"
     tabindex="-1"
     role="dialog"
     (click)="onBackdropClick($event)">
  <div class="modal-dialog"
       [class.modal-lg]="size === 'lg'"
       [class.modal-sm]="size === 'sm'"
       role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" (click)="goBack()">&times;</button>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
<div *ngIf="open" class="modal-backdrop fade show" (click)="goBack()"></div>
