<div class="title-divider">
  <h3><span>Доктрината за човека</span></h3>
</div>

<div id="doctrine-of-humanity-accordion">
  <div class="card">
    <div class="card-header" id="creation-heading" data-toggle="collapse" data-target="#creation">
      <button class="btn btn-link" aria-expanded="true" aria-controls="creation">
        <h5 class="mb-0">
          6. Сътворението
        </h5>
      </button>
    </div>

    <div id="creation" class="collapse show" aria-labelledby="creation-heading" data-parent="#doctrine-of-humanity-accordion">
      <div class="card-body">
        <p>
          Бог е създател на всички неща и открива в Писанието съзидателната Си дейност. В шест дни Господ
          създава „небето и земята” и всички живи същества на земята и си почива в седмия ден на тази първа седмица.
          Така Той установява съботата като постоянен паметник на Своето завършено творческо дело.
          Първият мъж и първата жена са направени по подобие на Бог като корона на цялото създание.
          Дадена им е власт над света и им е възложена отговорността да се грижат за него.
          Когато светът е завършен, той е „твърде добър” и прогласява Божията слава.
        </p>
        <p>(Бит. 1:2; Изх. 20:8-11; Пс. 19:1-6; 33:6, 9; 104; Евр. 11:3.)</p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 76
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="nature-of-humanity-heading" data-toggle="collapse" data-target="#nature-of-humanity">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="nature-of-humanity">
        <h5 class="mb-0">
          7. Естеството на човека
        </h5>
      </button>
    </div>
    <div id="nature-of-humanity" class="collapse" aria-labelledby="nature-of-humanity-heading" data-parent="#doctrine-of-humanity-accordion">
      <div class="card-body">
        <p>
          Мъжът и жената са сътворени по Божи образ със своя индивидуалност, със свободата и силата да мислят и да действат.
          Макар и създадени като свободни същества, всеки от тях представлява неделимо единство от тяло, ум и дух, зависими от
          Бог за своя живот и дишане, и всичко останало. Когато нашите първи родители не се подчиняват на Бог, те отричат своята
          зависимост от Него и падат от високото си положение на близост с Него. Божият образ в тях е помрачен и те стават
          подвластни на смъртта. Потомците им споделят тяхното паднало естество и последиците от него.
          Те се раждат със слабости и склонности към злото. Но Бог чрез Христос примирява света със Себе Си
          и чрез Своя Дух възстановява у каещите се грешници образа на техния Творец. Създадени за слава на Бог,
          те са призовани да Го обичат и да се обичат един друг, както и да се грижат за природата около себе си.
        </p>
        <p>
          (Бит. 1:26-28; 2:7; Пс. 8:4-8; Д.А. 17:24-28; Бит. 3; Пс. 51:5; Рим. 5:12-17;
          2 Кор. 5:19, 20; Пс. 51:10; 1 Йоан 4:7, 8, 11, 20; Бит. 2:15.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 88
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>
