<div class="title-divider">
  <h3><span>Доктрината за човека</span></h3>
</div>

<div id="doctrine-of-humanity-accordion">
  <div class="card">
    <div class="card-header" id="creation-heading" data-toggle="collapse" data-target="#creation">
      <button class="btn btn-link" aria-expanded="true" aria-controls="creation">
        <h5 class="mb-0">
          6. Сътворението
        </h5>
      </button>
    </div>

    <div id="creation" class="collapse show" aria-labelledby="creation-heading" data-parent="#doctrine-of-humanity-accordion">
      <div class="card-body">
        <p>
          Бог е създател на всички неща и открива в Писанието съзидателната Си дейност. В шест дни Господ
          създава „небето и земята” и всички живи същества на земята и си почива в седмия ден на тази първа седмица.
          Така Той установява съботата като постоянен паметник на Своето завършено творческо дело.
          Първият мъж и първата жена са направени по подобие на Бог като корона на цялото създание.
          Дадена им е власт над света и им е възложена отговорността да се грижат за него.
          Когато светът е завършен, той е „твърде добър” и прогласява Божията слава.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%201%3A2&version=BPB" target="_blank">Бит. 1:2</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D0%B7%D1%85%D0%BE%D0%B4%2020%3A8-11&version=BPB" target="_blank">Изх. 20:8-11</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%2019%3A1-6&version=BPB" target="_blank">Пс. 19:1-6</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%2033%3A6%2C%209&version=BPB" target="_blank">Пс. 33:6, 9</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%20104&version=BPB" target="_blank">Пс. 104</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80.%2011%3A3&version=BPB" target="_blank">Евр. 11:3</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 76
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="nature-of-humanity-heading" data-toggle="collapse" data-target="#nature-of-humanity">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="nature-of-humanity">
        <h5 class="mb-0">
          7. Естеството на човека
        </h5>
      </button>
    </div>
    <div id="nature-of-humanity" class="collapse" aria-labelledby="nature-of-humanity-heading" data-parent="#doctrine-of-humanity-accordion">
      <div class="card-body">
        <p>
          Мъжът и жената са сътворени по Божи образ със своя индивидуалност, със свободата и силата да мислят и да действат.
          Макар и създадени като свободни същества, всеки от тях представлява неделимо единство от тяло, ум и дух, зависими от
          Бог за своя живот и дишане, и всичко останало. Когато нашите първи родители не се подчиняват на Бог, те отричат своята
          зависимост от Него и падат от високото си положение на близост с Него. Божият образ в тях е помрачен и те стават
          подвластни на смъртта. Потомците им споделят тяхното паднало естество и последиците от него.
          Те се раждат със слабости и склонности към злото. Но Бог чрез Христос примирява света със Себе Си
          и чрез Своя Дух възстановява у каещите се грешници образа на техния Творец. Създадени за слава на Бог,
          те са призовани да Го обичат и да се обичат един друг, както и да се грижат за природата около себе си.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%201%3A26-28&version=BPB" target="_blank">Бит. 1:26-28</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%202%3A7&version=BPB" target="_blank">Бит. 2:7</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%208%3A4-8&version=BPB" target="_blank">Пс. 8:4-8</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%94%D0%B5%D1%8F%D0%BD%D0%B8%D1%8F%2017%3A24-28&version=BPB" target="_blank">Д.А. 17:24-28</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%203&version=BPB" target="_blank">Бит. 3</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%2051%3A5&version=BPB" target="_blank">Пс. 51:5</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%205%3A12-17%3B&version=BPB" target="_blank">Рим. 5:12-17;</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%205%3A19%2C%2020&version=BPB" target="_blank">2 Кор. 5:19, 20</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%2051%3A10&version=BPB" target="_blank">Пс. 51:10</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%99%D0%BE%D0%B0%D0%BD%204%3A7-8%2C%2011%2C%2020&version=BPB" target="_blank">1 Йоан 4:7-8, 11, 20</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%91%D0%B8%D1%82%D0%B8%D0%B5%202%3A15&version=BPB" target="_blank">Бит. 2:15</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 88
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>
