<div class="title-divider">
  <h3><span>Доктрината за събитията от последното време</span></h3>
</div>

<div id="doctrine-of-restoration-accordion">
  <div class="card">
    <div class="card-header" id="christ-heavenly-sanctuary-heading" data-toggle="collapse" data-target="#christ-heavenly-sanctuary">
      <button class="btn btn-link" aria-expanded="true" aria-controls="christ-heavenly-sanctuary">
        <h5 class="mb-0">
          24. Службата на Христос в небесното светилище
        </h5>
      </button>
    </div>

    <div id="christ-heavenly-sanctuary" class="collapse show" aria-labelledby="christ-heavenly-sanctuary-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          В небето има светилище, истинското светилище, което Бог е установил, а не човек. В него Исус служи за нас, като предоставя
          на разположение на вярващите ползите, предлагани от Неговата изкупителна жертва, принесена веднъж завинаги на кръста.
          Въведен е в длъжност като наш велик Първосвещеник и започва Своята посредническа служба след възнесението Си.
          В 1844 г., в края на пророческия период от 2300 дни, Той навлиза във втората и последна фаза на изкупителната Си служба.
          Тя е дело на изследователен съд, част от окончателното ликвидиране на греха, символизирано чрез очистването на
          старото еврейско светилище в Деня на умилостивението. В тази символична служба светилището се е очиствало с кръв
          от жертвени животни, но небесните неща се очистват със съвършената жертва на Исусовата кръв. На небесните разумни същества
          изследователният съд открива кой измежду мъртвите е заспал в Христос и се счита достоен да има дял в първото възкресение.
          Открива кой измежду живите е пребъдвал в Христос, пазил е заповедите на Бог и вярата в Исус и чрез Него може да бъде преселен
          във вечното Му царство. Този съд защитава Божията справедливост, проявяваща се при спасяване на вярващите в Исус.
          Съдът обявява, че останалите верни на Бог ще приемат царството. С края на тази Христова служба приключва благодатното време преди Пришествието.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%208%3A1-5&version=BPB" target="_blank">Евр. 8:1-5</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%204%3A14-16&version=BPB" target="_blank">Евр. 4:14-16</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%209%3A11-28&version=BPB" target="_blank">Евр. 9:11-28</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%2010%3A19-22&version=BPB" target="_blank">Евр. 10:19-22</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%201%3A3&version=BPB" target="_blank">Евр. 1:3</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%202%3A16-17&version=BPB" target="_blank">Евр. 2:16-17</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%94%D0%B0%D0%BD%D0%B8%D0%B8%D0%BB%207%3A9-27&version=BPB" target="_blank">Дан. 7:9-27</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%94%D0%B0%D0%BD%D0%B8%D0%B8%D0%BB%208%3A13-14&version=BPB" target="_blank">Дан. 8:13-14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%94%D0%B0%D0%BD%D0%B8%D0%B8%D0%BB%209%3A24-27&version=BPB" target="_blank">Дан. 9:24-27</a>;            
            <a href="https://www.biblegateway.com/passage/?search=%D0%A7%D0%B8%D1%81%D0%BB%D0%B0%2014%3A34&version=BPB" target="_blank">Чис. 14:34</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%B5%D0%B7%D0%B5%D0%BA%D0%B8%D0%B8%D0%BB%204%3A6&version=BPB" target="_blank">Йез. 4:6</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D0%B5%D0%B2%D0%B8%D1%82%2016&version=BPB" target="_blank">Лев. 16</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2014%3A6-7&version=BPB" target="_blank">Откр. 14:6-7</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2020%3A12&version=BPB" target="_blank">Откр. 20:12</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2014%3A12&version=BPB" target="_blank">Откр. 14:12</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2022%3A12&version=BPB" target="_blank">Откр. 22:12</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 360
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="christ-second-coming-heading" data-toggle="collapse" data-target="#christ-second-coming">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="christ-second-coming">
        <h5 class="mb-0">
          25. Второто идване на Христос
        </h5>
      </button>
    </div>
    <div id="christ-second-coming" class="collapse" aria-labelledby="christ-second-coming-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          Второто идване на Христос е блажената надежда на църквата, величествената кулминационна точка на евангелието.
          Идването на Спасителя ще бъде буквално, лично, видимо и всесветско. Когато Той дойде, праведните мъртви ще бъдат
          възкресени и заедно с праведните живи ще бъдат прославени и взети на небето, а нечестивите ще загинат.
          Почти пълното изпълнение на повечето страни от пророчеството, заедно с настоящото състояние на света, показват,
          че идването на Христос предстои. Времето за това събитие не е посочено и затова сме увещавани да бъдем готови по всяко време.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%A2%D0%B8%D1%82%202%3A13&version=BPB" target="_blank">Тит 2:13</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%B2%D1%80%D0%B5%D0%B8%209%3A28&version=BPB" target="_blank">Евр. 9:28</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2014%3A1-3&version=BPB" target="_blank">Йоан 14:1-3</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%94%D0%B5%D1%8F%D0%BD%D0%B8%D1%8F%201%3A9-11&version=BPB" target="_blank">Д.А. 1:9-11</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%2024%3A14&version=BPB" target="_blank">Мат. 24:14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%201%3A7&version=BPB" target="_blank">Откр. 1:7</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%2024%3A43-44&version=BPB" target="_blank">Мат. 24:43-44</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%A1%D0%BE%D0%BB%D1%83%D0%BD%D1%86%D0%B8%204%3A13-18&version=BPB" target="_blank">1 Сол. 4:13-18</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%2015%3A51-54&version=BPB" target="_blank">1 Кор. 15:51-54</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%A1%D0%BE%D0%BB%D1%83%D0%BD%D1%86%D0%B8%201%3A7-10&version=BPB" target="_blank">2 Сол. 1:7-10</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%A1%D0%BE%D0%BB%D1%83%D0%BD%D1%86%D0%B8%202%3A8&version=BPB" target="_blank">2 Сол. 2:8</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2014%3A14-20&version=BPB" target="_blank">Откр. 14:14-20</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2019%3A11-21&version=BPB" target="_blank">Откр. 19:11-21</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%2024&version=BPB" target="_blank">Мат. 24</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%80%D0%BA%2013&version=BPB" target="_blank">Марк 13</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9B%D1%83%D0%BA%D0%B0%2021&version=BPB" target="_blank">Лука 21</a>;
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%A2%D0%B8%D0%BC%D0%BE%D1%82%D0%B5%D0%B9%203%3A1-5&version=BPB" target="_blank">2 Тим. 3:1-5</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%A1%D0%BE%D0%BB%D1%83%D0%BD%D1%86%D0%B8%205%3A1-6&version=BPB" target="_blank">1 Сол. 5:1-6</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 382
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="death-and-resurrection-heading" data-toggle="collapse" data-target="#death-and-resurrection">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="death-and-resurrection">
        <h5 class="mb-0">
          26. Смърт и възкресение
        </h5>
      </button>
    </div>
    <div id="death-and-resurrection" class="collapse" aria-labelledby="death-and-resurrection-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          Заплатата на греха е смърт. Но Бог, Който единствен е безсмъртен, ще даде вечен живот на Своите изкупени.
          До този ден смъртта е несъзнателно състояние за всички хора. Когато Христос, нашият живот, се яви,
          възкресените и живите праведни ще бъдат прославени и грабнати да посрещнат своя Господ.
          Второто възкресение, възкресението на нечестивите, ще стане хиляда години по-късно.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%A0%D0%B8%D0%BC%D0%BB%D1%8F%D0%BD%D0%B8%206%3A23&version=BPB" target="_blank">Рим. 6:23</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%A2%D0%B8%D0%BC%D0%BE%D1%82%D0%B5%D0%B9%206%3A15-16&version=BPB" target="_blank">1 Тим. 6:15-16</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%95%D0%BA%D0%BB%D0%B5%D1%81%D0%B8%D0%B0%D1%81%D1%82%209%3A5-6&version=BPB" target="_blank">Екл. 9:5-6</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9F%D1%81%D0%B0%D0%BB%D0%BC%D0%B8%20146%3A3-4&version=BPB" target="_blank">Пс. 146:3-4</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%2011%3A11-14&version=BPB" target="_blank">Йоан 11:11-14</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9A%D0%BE%D0%BB%D0%BE%D1%81%D1%8F%D0%BD%D0%B8%203%3A4&version=BPB" target="_blank">Кол. 3:4</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%A1%D0%BE%D0%BB%D1%83%D0%BD%D1%86%D0%B8%204%3A13-17&version=BPB" target="_blank">1 Сол. 4:13-17</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%BE%D0%B0%D0%BD%205%3A28-29&version=BPB" target="_blank">Йоан 5:28-29</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2020%3A1-10&version=BPB" target="_blank">Откр. 20:1-10</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 398
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="millennium-heading" data-toggle="collapse" data-target="#millennium">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="millennium">
        <h5 class="mb-0">
          27. Хилядолетието и краят на греха
        </h5>
      </button>
    </div>
    <div id="millennium" class="collapse" aria-labelledby="millennium-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          Милениумът е хилядагодишното царуване на Христос с Неговите светии в небето между първото и второто възкресение.
          През това време нечестивите мъртви ще бъдат съдени; земята ще запустее съвсем, без човешки същества, но окупирана от
          Сатана и неговите ангели. В края Христос с Неговите светии и Светият град ще слязат от небето на Земятa. Неправедните
          мъртви ще бъдат възкресени и Сатана с ангелите му ще обкръжат града, но огън от Бог ще ги унищожи и ще очисти земята.
          Вселената по този начин ще бъде освободена от греха и грешниците завинаги.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2020&version=BPB" target="_blank">Откр. 20</a>;
            <a href="https://www.biblegateway.com/passage/?search=1%20%D0%9A%D0%BE%D1%80%D0%B8%D0%BD%D1%82%D1%8F%D0%BD%D0%B8%206%3A2-3&version=BPB" target="_blank">1 Кор. 6:2-3</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%B5%D1%80%D0%B5%D0%BC%D0%B8%D1%8F%204%3A23-26&version=BPB" target="_blank">Йер. 4:23-26</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2021%3A1-5&version=BPB" target="_blank">Откр. 21:1-5</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D0%BB%D0%B0%D1%85%D0%B8%D1%8F%204%3A1&version=BPB" target="_blank">Мал. 4:1</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%99%D0%B5%D0%B7%D0%B5%D0%BA%D0%B8%D0%B8%D0%BB%2028%3A18-19&version=BPB" target="_blank">Йез. 28:18-19</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 412
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="new-earth-heading" data-toggle="collapse" data-target="#new-earth">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="new-earth">
        <h5 class="mb-0">
          28. Новата земя
        </h5>
      </button>
    </div>
    <div id="new-earth" class="collapse" aria-labelledby="new-earth-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          На новата земя, в която ще обитава правда, Бог ще осигури вечен дом за изкупените и съвършена среда за
          вечен живот, любов, радост и познание в Неговото присъствие. Защото тук сам Бог ще обитава с народа Си,
          а страданието и смъртта ще са отминали. Великата борба ще бъде завършена и грях няма да има вече.
          Всички неща, живи и неодушевени, ще свидетелстват, че Бог е любов; и Той ще царува вечно. Амин.
        </p>
        <p>
          (
            <a href="https://www.biblegateway.com/passage/?search=2%20%D0%9F%D0%B5%D1%82%D1%8A%D1%80%203%3A13&version=BPB" target="_blank">2 Пет. 3:13</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D1%81%D0%B0%D1%8F%2035&version=BPB" target="_blank">Ис. 35</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%98%D1%81%D0%B0%D1%8F%2065%3A17-25&version=BPB" target="_blank">Ис. 65:17-25</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9C%D0%B0%D1%82%D0%B5%D0%B9%205%3A5&version=BPB" target="_blank">Мат. 5:5</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2021%3A1-7&version=BPB" target="_blank">Откр. 21:1-7</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2022%3A1-5&version=BPB" target="_blank">Откр. 22:1-5</a>;
            <a href="https://www.biblegateway.com/passage/?search=%D0%9E%D1%82%D0%BA%D1%80%D0%BE%D0%B2%D0%B5%D0%BD%D0%B8%D0%B5%2011%3A15&version=BPB" target="_blank">Откр. 11:15</a>
          )
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 426
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>
