<div class="title-divider">
  <h3><span>Доктрината за събитията от последното време</span></h3>
</div>

<div id="doctrine-of-restoration-accordion">
  <div class="card">
    <div class="card-header" id="christ-heavenly-sanctuary-heading" data-toggle="collapse" data-target="#christ-heavenly-sanctuary">
      <button class="btn btn-link" aria-expanded="true" aria-controls="christ-heavenly-sanctuary">
        <h5 class="mb-0">
          24. Службата на Христос в небесното светилище
        </h5>
      </button>
    </div>

    <div id="christ-heavenly-sanctuary" class="collapse show" aria-labelledby="christ-heavenly-sanctuary-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          В небето има светилище, истинското светилище, което Бог е установил, а не човек. В него Исус служи за нас, като предоставя
          на разположение на вярващите ползите, предлагани от Неговата изкупителна жертва, принесена веднъж завинаги на кръста.
          Въведен е в длъжност като наш велик Първосвещеник и започва Своята посредническа служба след възнесението Си.
          В 1844 г., в края на пророческия период от 2300 дни, Той навлиза във втората и последна фаза на изкупителната Си служба.
          Тя е дело на изследователен съд, част от окончателното ликвидиране на греха, символизирано чрез очистването на
          старото еврейско светилище в Деня на умилостивението. В тази символична служба светилището се е очиствало с кръв
          от жертвени животни, но небесните неща се очистват със съвършената жертва на Исусовата кръв. На небесните разумни същества
          изследователният съд открива кой измежду мъртвите е заспал в Христос и се счита достоен да има дял в първото възкресение.
          Открива кой измежду живите е пребъдвал в Христос, пазил е заповедите на Бог и вярата в Исус и чрез Него може да бъде преселен
          във вечното Му царство. Този съд защитава Божията справедливост, проявяваща се при спасяване на вярващите в Исус.
          Съдът обявява, че останалите верни на Бог ще приемат царството. С края на тази Христова служба приключва благодатното време преди Пришествието.
        </p>
        <p>
          (Евр. 8:1-5; 4:14-16; 9:11-28; 10:19-22; 1:3; 2:16, 17; Дан. 7:9-27; 8:13, 14; 9:24-27;
           Чис. 14:34; Йез. 4:6; Лев. 16; Откр. 14:6, 7; 20:12; 14:12; 22:12.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 360
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="christ-second-coming-heading" data-toggle="collapse" data-target="#christ-second-coming">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="christ-second-coming">
        <h5 class="mb-0">
          25. Второто идване на Христос
        </h5>
      </button>
    </div>
    <div id="christ-second-coming" class="collapse" aria-labelledby="christ-second-coming-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          Второто идване на Христос е блажената надежда на църквата, величествената кулминационна точка на евангелието.
          Идването на Спасителя ще бъде буквално, лично, видимо и всесветско. Когато Той дойде, праведните мъртви ще бъдат
          възкресени и заедно с праведните живи ще бъдат прославени и взети на небето, а нечестивите ще загинат.
          Почти пълното изпълнение на повечето страни от пророчеството, заедно с настоящото състояние на света, показват,
          че идването на Христос предстои. Времето за това събитие не е посочено и затова сме увещавани да бъдем готови по всяко време.
        </p>
        <p>
          (Тит 2:13; Евр. 9:28; Йоан 14:1-3; Д.А. 1:9-11; Мат. 24:14; Откр. 1:7; Мат. 24:43, 44;
           1 Сол. 4:13-18; 1 Кор. 15:51-54; 2 Сол. 1:7-10; 2:8; Откр. 14:14-20; 19:11-21;
           Мат. 24; Марк 13; Лука 21; 2 Тим. 3:1-5; 1 Сол. 5:1-6.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 382
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="death-and-resurrection-heading" data-toggle="collapse" data-target="#death-and-resurrection">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="death-and-resurrection">
        <h5 class="mb-0">
          26. Смърт и възкресение
        </h5>
      </button>
    </div>
    <div id="death-and-resurrection" class="collapse" aria-labelledby="death-and-resurrection-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          Заплатата на греха е смърт. Но Бог, Който единствен е безсмъртен, ще даде вечен живот на Своите изкупени.
          До този ден смъртта е несъзнателно състояние за всички хора. Когато Христос, нашият живот, се яви,
          възкресените и живите праведни ще бъдат прославени и грабнати да посрещнат своя Господ.
          Второто възкресение, възкресението на нечестивите, ще стане хиляда години по-късно.
        </p>
        <p>
          (Рим. 6:23; 1 Тим. 6:15, 16; Екл. 9:5, 6; Пс. 146:3, 4; Йоан 11:11-14; Кол. 3:4;
           1 Кор. 15:51-54; 1 Сол. 4:13-17; Йоан 5:28, 29; Откр. 20:1-10.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 398
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="millennium-heading" data-toggle="collapse" data-target="#millennium">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="millennium">
        <h5 class="mb-0">
          27. Хилядолетието и краят на греха
        </h5>
      </button>
    </div>
    <div id="millennium" class="collapse" aria-labelledby="millennium-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          Милениумът е хилядагодишното царуване на Христос с Неговите светии в небето между първото и второто възкресение.
          През това време нечестивите мъртви ще бъдат съдени; земята ще запустее съвсем, без човешки същества, но окупирана от
          Сатана и неговите ангели. В края Христос с Неговите светии и Светият град ще слязат от небето на Земятa. Неправедните
          мъртви ще бъдат възкресени и Сатана с ангелите му ще обкръжат града, но огън от Бог ще ги унищожи и ще очисти земята.
          Вселената по този начин ще бъде освободена от греха и грешниците завинаги.
        </p>
        <p>
          (Откр. 20; 1 Кор. 6:2, 3; Йер. 4:23-26; Откр. 21:1-5; Мал. 4:1; Йез. 28:18, 19.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 412
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="new-earth-heading" data-toggle="collapse" data-target="#new-earth">
      <button class="btn btn-link collapsed" aria-expanded="false" aria-controls="new-earth">
        <h5 class="mb-0">
          28. Новата земя
        </h5>
      </button>
    </div>
    <div id="new-earth" class="collapse" aria-labelledby="new-earth-heading" data-parent="#doctrine-of-restoration-accordion">
      <div class="card-body">
        <p>
          На новата земя, в която ще обитава правда, Бог ще осигури вечен дом за изкупените и съвършена среда за
          вечен живот, любов, радост и познание в Неговото присъствие. Защото тук сам Бог ще обитава с народа Си,
          а страданието и смъртта ще са отминали. Великата борба ще бъде завършена и грях няма да има вече.
          Всички неща, живи и неодушевени, ще свидетелстват, че Бог е любов; и Той ще царува вечно. Амин.
        </p>
        <p>
          (2 Пет. 3:13; Ис. 35; 65:17-25; Мат. 5:5; Откр. 21:1-7; 22:1-5; 11:15.)
        </p>
        <blockquote class="blockquote">
          <footer class="blockquote-footer">
            Адвентистите от седмия ден вярват. София, 2013: Ел Уай, с. 426
          </footer>
        </blockquote>
      </div>
    </div>
  </div>

</div>
