<div class="container p-4 py-lg-5">

  <div class="jumbotron">
    <h1 class="mb-4">Вярвания</h1>
    <p class="lead">
      Адвентистите от седмия ден приемаме Библията като единствен източник на истина за нашата вяра. Смятаме, че нашето движение
      се е сформирало като резултат от Протестантското убеждение "sola scriptura" ("единствено писанието") – Библията като
      единствен стандарт за вярата и практиката на християните.
    </p>
    <p>
      Понастоящем, приемаме <strong>28 основни учения</strong>, които могат да бъдат организирани
      в 6 категории – доктрините за Бог, човека, спасението, църквата, християнския живот и събитията от последното време.
      Във всяко учение Бог е архитектът, който в своята мъдрост, мислост и безкрайна любов,
      възстановява връзката с човечеството която ще продължи цяла вечност.
    </p>
  </div>

  <ul class="nav nav-tabs nav-fill mb-6">
    <li class="nav-item">
      <a class="nav-link" routerLink="/beliefs/god" routerLinkActive="active">
        Бог
      </a>
    </li>
  </ul>

  <!-- Used to render the subcomponents of this component -->
  <router-outlet></router-outlet>

</div>