<!-- Bibles studies CTA (call to action) -->
<div class="bg-primary text-white py-4">
  <div class="container">
    <div class="row text-center text-lg-left">
      <div class="col-12 col-lg-7 py-2">
        <h2 class="text-uppercase font-weight-bold mt-0 mb-2">
          <span class="text-shadow">Изучавайте Библията</span>
        </h2>
        <h5 class="text-faded">
          Желаете да научите повече за Бог и вярата?
          <div class="d-none d-md-block">
            Изучавайте Библията от уюта на вашия дом.
          </div>
        </h5>
      </div>
      <div class="col-12 col-lg-5 py-2 text-lg-right">
        <a href="https://bibleawr.com/lesson?MEORSXYGDSQZSW" target="_blank" class="btn btn-lg btn-primary btn-invert btn-rounded py-3 px-4">
          Започнете да изучавате<i class="fa fa-arrow-right ml-2"></i>
        </a>
      </div>
    </div>
  </div>
</div>
