.jumbotron {
  background-color: transparent;

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    text-align: center;
  }
}

.card {
  width: 100%;
  box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.1);
}

.card:hover {
  transform: translateY(-5px);
  transition: all 0.25s ease;
}

.card-img-top {
  width: 100%;
  height: 186px;
  object-fit: cover;
}
