<div class="container p-4 py-lg-5">

  <div class="jumbotron">
    <h1 class="mb-4">Видео архив</h1>
    <p class="lead">
      На тази страница може да намерите последните излъчвания от нашата църква.
    </p>
  </div>

  <div class="mb-5">
    <div class="container">
      <div class="row text-center">
        <div class="col-lg-12 video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=UUJGsHxYVN2cwmA9ds13vmyw" frameborder="0" allow="autoplay; encrypted-media; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

</div>
