<div class="container p-md-4 py-lg-5">
  <div class="jumbotron">
    <h1 class="mb-4">Последни проповеди</h1>
    <p class="lead">
      Гледайте видеозаписи от последните ни проповеди и богослужения, споделени в YouTube канала на
      църквата.
    </p>
  </div>

  <div class="mb-5">
    <div class="container">
      <div *ngIf="videos.length === 0; else videoItems" class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <ng-template #videoItems>
        <div class="row g-4">
          <div *ngFor="let video of videos" class="col-md-6 col-lg-4 d-flex align-items-stretch">
            <div class="yt-card">
              <a class="yt-card__thumb" [href]="video.link" target="_blank" rel="noopener">
                <div
                  *ngIf="!isVideoThumbLoaded(video.videoId)"
                  class="yt-card__thumb-placeholder"
                  aria-hidden="true"
                >
                  <i class="fa fa-video"></i>
                </div>
                <img
                  [src]="video.thumbnail"
                  alt="Видео преглед"
                  loading="lazy"
                  class="yt-card__thumb-img"
                  [class.yt-card__thumb-img--loaded]="isVideoThumbLoaded(video.videoId)"
                  (load)="onVideoThumbLoad(video.videoId)"
                />
              </a>

              <div class="yt-card__body">
                <a
                  class="yt-card__avatar"
                  [href]="video.channelLink"
                  target="_blank"
                  rel="noopener"
                >
                  <img
                    [src]="video.channelAvatar"
                    [alt]="video.channelTitle"
                    loading="lazy"
                    (error)="onChannelAvatarError($event)"
                  />
                </a>

                <div class="yt-card__meta">
                  <h3 class="yt-card__title">
                    <a [href]="video.link" target="_blank" rel="noopener">{{ video.title }}</a>
                  </h3>
                  <a
                    class="yt-card__channel"
                    [href]="video.channelLink"
                    target="_blank"
                    rel="noopener"
                  >
                    {{ video.channelTitle }}
                  </a>
                  <div class="yt-card__date" [title]="video.published | date: 'longDate'">
                    {{ video.published | relativeTime }}
                  </div>
                  <p class="yt-card__description">{{ video.description }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>

      <div *ngIf="videos.length > 0" class="row d-flex justify-content-center mt-5">
        <a
          class="col-auto btn btn-lg btn-primary btn-rounded py-3 px-4"
          href="https://youtube.com/@slatinasda/videos"
          target="_blank"
        >
          Вижте всички записи<i class="fa fa-arrow-right ms-2"></i>
        </a>
      </div>
    </div>
  </div>
</div>
