<div class="container p-4 py-lg-5">

  <div class="jumbotron">
    <h1 class="mb-4">Църковни песни</h1>
    <p class="lead">
      Музиката и песните заемат важна част в поклонението на вярващите.
      На тази страница ще намерите музикален съпровод на орган за всички 300 песни, които се пеят в църквата на Адвентистите от Седмия Ден.
    </p>
  </div>

  <div class="mb-5">
    <h3>PDF и MIDI файлове</h3>
    <p class="mb-1">
      На страницата ни в Github може да намерите PDF и MIDI файлове на песните:
    </p>
    <a href="https://github.com/slatinasda/sdabg-church-songbook-sheets" class="btn btn-lg btn-primary py-2 px-4" target="_blank">
      Линк към Github
    </a>
  </div>

  <div class="mb-5">
    <h3>Текст към песните</h3>
    <p class="mb-1">
      Свалете текста към песните във формат PDF, PPTX, ODP:
    </p>
    <a href="/files/church-songbook/text/Church songbook - Text.zip" class="btn btn-lg btn-primary py-2 px-4" target="_blank">
      Линк за сваляне
    </a>
  </div>

  <div class="mb-5">
    <h3 class="mb-3">MP3 записи</h3>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Номер</th>
            <th scope="col">Линк за сваляне</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let songNum of organSongNumbers()">
            <td>Песен {{songNum}}</td>
            <td>
              <a href="/files/church-songbook/organ/{{songNum}}.mp3" target="_blank" title="Свали песен {{songNum}}">Свали</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <ul class="pagination">
      <li class="page-item">
        <button class="page-link" (click)="organPagination.setPreviousPage()">Предишна страница</button>
      </li>
      <li class="page-item">
        <button class="page-link" (click)="organPagination.setNextPage()">Следваща страница</button>
      </li>
    </ul>
  </div> <!-- MP3 section end -->

</div>