<div id="highlighted">
  <!-- Image Banner: Use the the data-bg-img functionality to create a simple image banner Use spacer classes to make the banner larger with padding, allows for easy responsive changes too see: elements-ctas.htm To make the banner full height add the attributes: data-toggle="full-height" data-offset="#header" -->
  <div class="bg-white overlay overlay-primary overlay-op-7 text-center px-3 py-5 py-lg-10 flex-valign fallback-background"
      data-toggle="backstretch"
      data-backstretch-target="self"
      data-backstretch-overlay="false"
      [attr.data-backstretch-imgs]="mainSectionImages() | join: ','">
    <h2 class="display-4 text-white mb-5">
      <div>Църква на Адвентистите от Седмия Ден</div><span class="font-weight-bold">София "В" - Слатина</span>
    </h2>
    <h3 class="text-grey font-weight-normal px-lg-8 d-none d-md-block">
      Вярванията на Адвентистите от Седмия Ден целят да проникнат във вашия живот. Произлизащи от писанията, които обрисуват завладяващия образ на Бог, вие сте поканени да изследвате, опитате и познаете Единия, който желае да ни усъвършенства.
    </h3>

    <hr class="hr-inverse hr-lg w-20 mx-auto my-4 d-none d-md-block" />
    <div>
      <a routerLink="beliefs" class="btn btn-dark btn-rounded btn-lg py-lg-3 px-lg-5" data-toggle="scroll-link">
        Нашите вярвания
      </a>
    </div>

  </div>
</div>

<!-- ======== @Region: #content ======== -->
<div id="content" class="p-0">
  <!-- Live stream -->
  <div id="live-stream" class="py-3 pt-lg-6 pb-lg-0">
    <div class="container">
      <div>
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
        <h2 class="text-center text-uppercase font-weight-bold my-0">
          На живо
        </h2>
        <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
          Следете нашите пряки излъчвания всяка събота от
          <time class="font-weight-bold">{{saturdayMorningStreamStartTime}}</time>
        </h5>
        <hr class="mb-5 w-50 mx-auto" />
      </div>
      <div class="row text-center">
        <div class="col-lg-10 offset-lg-1 video-container">
          <iframe width="560" height="420" src="https://www.youtube-nocookie.com/embed/live_stream?channel=UCJGsHxYVN2cwmA9ds13vmyw" allowfullscreen="" frameborder="0"></iframe>
        </div>
      </div>
    </div>

    <!-- Church schedule -->
    <div id="church-schedule" class="bg-dark mt-3 mt-lg-6">
      <div class="container-fluid">
        <div class="row">

          <div class="col"></div>
          <div class="col-lg-4 py-5">
            <hr class="hr-lg mt-0 mb-2 w-10 ml-0 hr-primary" />
            <h2 class="display-4 text-slab text-white text-uppercase mt-0 mb-5">
              Посетете нашите <span class="text-primary font-weight-bold">богослужения</span>
            </h2>

            <div class="row mb-3">
              <div class="col-10 col-md-11 text-grey">
                <h4 class="font-weight-bold text-white text-uppercase">
                  {{isDaylightSaving ? 'Лятно' : 'Зимно'}} часово време
                </h4>
              </div>
            </div>

            <div *ngFor="let churchService of churchServiceAgenda()" class="row mb-3">
              <div class="col-2 col-md-1 text-center"> <i class="{{churchService.icon}} text-primary icon-2x"></i></div>
              <div class="col-10 col-md-11 text-grey">
                <h4 class="font-weight-bold text-white text-uppercase">{{churchService.day}}</h4>
                <p>
                  <span [innerHTML]="churchService.label"></span>
                  <!-- Cannot nest <div> in <p> https://github.com/angular/angular/issues/6648 -->
                  <span style="display: block;">
                    От <time>{{churchService.time.startHour}}</time> до <time>{{churchService.time.endHour}}</time> часа
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="col"></div>

        </div>
      </div>
    </div>
  </div>

  <!--Social media-->
  <div id="social-media" class="bg-light py-3 py-lg-6">
    <div class="container">
      <div>
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
        <h2 class="text-center text-uppercase font-weight-bold my-0">
          Социални мрежи
        </h2>
        <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
          Следете ни в социалните мрежи за да се информирате за събитията в нашата църква
        </h5>
        <hr class="mb-5 w-50 mx-auto" />
      </div>
      <div class="row text-center">
        <div class="col-lg-4 py-2">
          <a href="https://www.youtube.com/channel/UCJGsHxYVN2cwmA9ds13vmyw" target="_blank">
            <i class="fab fa-youtube icon-5x text-primary"></i>
            <h4 class="mt-2">
              YouTube
            </h4>
          </a>
        </div>
        <div class="col-lg-4 py-2">
          <a href="https://twitter.com/SlatinaChurch" target="_blank">
            <i class="fab fa-twitter icon-5x text-primary"></i>
            <h4 class="mt-2">Twitter</h4>
          </a>
        </div>
        <div class="col-lg-4 py-2">
          <a href="http://www.facebook.com/AdventistChurchSlatina" target="_blank">
            <i class="fab fa-facebook icon-5x text-primary"></i>
            <h4 class="mt-2">
              Facebook
            </h4>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact form -->
  <div id="contact">
    <div class="container p-4 py-lg-5">
      <div>
        <hr class="hr-lg mt-0 mb-3 w-10 mx-auto hr-primary" />
        <h2 class="text-center text-uppercase font-weight-bold my-0">
          Свържете се с нас
        </h2>
        <h5 class="text-center font-weight-light mt-2 mb-0 text-muted">
          Участвайте в нашите богослужения за да изучаваме библията заедно
        </h5>
        <hr class="mb-5 w-50 mx-auto" />
      </div>
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="col-md-12 mb-4 text-center">
            <p class="mb-1">
              <abbr title="Адрес"><i class="fas fa-map-marker-alt pr-2"></i></abbr>
              София, кв. Слатина, ул. Гео Милев № 136 - Читалище Светлина
            </p>
          </div>
          <div class="google-map">
            <iframe width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=23.370435833930973%2C42.678235424500706%2C23.37751686573029%2C42.68215146543761&amp;layer=mapnik&amp;marker=42.68019544764381%2C23.373976349830627" style="border: 1px solid black"></iframe>
          </div>
          <small>
            <a href="https://www.openstreetmap.org/?mlat=42.68020&amp;mlon=23.37398#map=18/42.68019/23.37398" target="_blank">
              Отворете голяма карта
            </a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>